@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* Utility Classes */
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-primary {
  border: 1px solid #fff;
}

.btn-secondary,
.btn-third:hover {
  background: #383848;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-third {
  background: #1256EA;
}
.content .ppp{
  font-size: 20px;
  color:#F84D07;
}

.primary-text {
  color: #1256EA;
}

header {
  height: 15vh;
  position: relative;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

#navbar img {
  width: 150px;
  margin-left: 100px;
}

nav ul {
  display: flex;
  margin-right: 100px;
}

nav ul li a {
  padding: 15px 20px;
  font-weight: 600;
  color: #1f1f1f;
}

nav ul li .h:hover {
  border-bottom: 2px solid #1256EA;
}

/* dropdown */
.dropdown{
  background: #fff;
  position: absolute;
  z-index: 999;
  display: none;
  padding-top: 30px;
  border-radius: 20px;
}

.dropdown .drop{
  width: 230px;
  margin-left: 150px;
  background: #fff;
  position: absolute;
  z-index: 999;
  display: none;
  border-radius: 20px;
}

.dropdown .q:hover .drop{
  display: block;
}

.dropdown li{
  display: block;
  padding: 10px;
  border-bottom: 1px solid #d6cfcf;
}
.dropdown li a:hover{
  color: #1256EA;
}

ul li:hover ul.dropdown{
  display: block;
}

/* dropdown end */

header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%; /* Add exmple of greeen background */
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f0f0f0;
}


header * {
  z-index: 10;
}
/* search start */
.search {
    /* margin-left: 5px; */
    margin-top: 5px;
    border: 1px solid #1256EA;
    border-radius: 10px;
    width: max-content;
    overflow: hidden;
  }
  
  button {
    /* background-color: rgb(108, 103, 103); */
    border: none;
    cursor: pointer;
    
  }
  
  button i {
    width: 25px;
    color: #1f1f1f;
    margin-right: 7px;
  }
  
  input {
    font-size: 17px;
    height: 45px;
    border: none;
    text-align: center;
    width: 250px;
    transition: width 0.5s;
  }
  
  .search:hover > input {
    width: 260px;
  }
  /* search end */

  #navbar .login a{
    background: #fff;
    color: #1256EA;
    padding: 15px 25px;
    border: 1px solid #1256EA;
    border-radius: 10px;
    font-size: 16px;
    margin-left: -100px;
    text-decoration: none;
    transition: .5s;
  }
  #navbar .login a:hover{
    background:#1256EA ;
    color: #fff;
  }

  #navbar .start a{
    background: #1256EA;
    color: #fff;
    padding: 15px 25px;
    border: 1px solid #1256EA;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 50px;
    text-decoration: none;
    transition: .5s;
  }
  #navbar .start a:hover{
    background: #F84D07;
  }

/* Header End */

#content {
  height: 100vh;
  background: url("5.jpeg") center center/cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  padding-left: 150px;
}

#content::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(126, 125, 125, 0.6);
}

#content h1 {
  font-size: 45px;
  color: #0655ff;
}

.pp{
  font-size: 18px;
  color: #05256c;
  margin: 20px 0 40px;
  font-weight: bolder;
  width:500px;
}

#content .ppp {
  font-size: 18px;
  color: #F84D07;
  margin: 20px 0 ;
  font-weight: bolder;
}

header * {
  z-index: 10;
}
#content * {
  z-index: 10;
}

/* search start */
#search {
  margin-left: 5px;
  margin-top: 5px;
  border: 1px solid #F84D07;
  border-radius: 5px;
  width: 400px;
  overflow: hidden;
  height: 50px;
}

#search button {
  /* background-color:rgba(126, 125, 125, 0.6); */
  border: none;
  cursor: pointer;
  height: 50px;
  width: 0px;
}

#search button i {
  width: 35px;
  color: #fff;
  margin-right: 7px;
}

#search input {
  font-size: 17px;
  height: 50px;
  border: none;
  text-align: center;
  width: 350px;
  transition: width 0.5s;
}

/* #search:hover > input {
  width: 200px;
} */

.down{
  margin-top: 20px;
}
.down li{
  margin: 10px;
  color: #fff;
}
.down li:before {
  padding: 0 5px;
  background-color: #1256EA;
  margin-right: 8px;
  border: 1px solid #1256EA;
  border-radius: 100%;
  font-size: 18px;
  content: '\2713';
  display: inline-block;
  color: #fff;
  padding: 0 6px 0 0;
}
/* search end */


/* About Start */
.flex {
  margin-left: 20px;
  margin-top: 20px;
}
.flex button{
  background: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 20px 30px;
  margin: 20px;
  border-radius: 10px;
}
.flex button:hover{
  background: #F84D07;
  color: #fff;

}
#about {
  height: 60vh;
  background: linear-gradient(#4d81f2,#1256EA);
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .title,
#offers .title,
#menu .title {
  text-align: center;
  margin-bottom: 4rem;
}

#about h2,
#offers h2,
#menu h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

#about h2 {
  color: #383848;
}

#about .title p {
  font-weight: 600;
  font-size: 14px;
  color: #9a9a9a;
}

#about .about-content {
  display: flex;
  justify-content: space-between;
}

#about .about-content p {
  margin-right: 7rem;
  line-height: 1.6;
  color: #9a9a9a;
  font-weight: 500;
}

#about video {
  max-width: 550px;
  border-radius: 20px;
  
}

#about .about-content a {
  margin-top: 2rem;
}
/* About End */

  
 
  .nums {
    width: 400px;
    display: flex;
    padding-left: 200px;
  }
  .nums .num {
    margin-top: 30px;
    border-right: 1px solid rgb(198, 195, 195) ;
    color: #1f1f1f;
    /* flex: 1; */
    text-align: center;
    font-size: 18px;
    padding: 20px 100px;
  }
  .nums .num span{
    font-weight: bolder;
    font-size: 20px;
  }
/* SEC2 END */

/* Offers Section start */
#offers {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#offers .container{
  margin-top: 500px;
  
}

#offers h2 {
  color: #1f1f1f;
  font-weight: bolder;
}

#offers .title p {
  color: #F84D07;
  font-size: 20px;
  font-weight: bolder;
}
#offers .uly ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bolder;
  background: #1256EA;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.uly li button{
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  background: #1256EA;
  color: #fff;
  border-radius: 10px;
}
.uly li button:hover{
  background: #fff;
  color: #F84D07;
  transition: 1s;
}

#offers .offers-items {
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  grid-template-rows: repeat(3,100px) ;
  gap: 30px;  
  grid-row-gap: 180px;
}

#offers .offers-items .one{
  background: #fff;
  height: 35vh;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px #ddd ;
  padding: 10px 10px;
}


#offers .offers-items img {
  width: 300px;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: all 0.8s;
}

#offers .offers-items img:hover{
  opacity: 0.3;
}

#offers .offers-items h3 button a {
  font-size: 22px;
  color: #1f1f1f;
  margin: 15px 0;
  padding: 5px 0;
  background: #fff;
  transition: all 0.8s;
}
#offers .offers-items h3 button a:hover{
 color: #1256EA
 ;
}

#offers .offers-items p {
  color: #fff;
  font-size: 14px;
  padding: 0 20px;
  font-weight: 300;
  margin-bottom: 15px;
}

#offers .offers-items span {
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
}

/* Offers Section end */

/* Testimonial Section Start */

#testimonials{
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  background:url(testimonial_bg.png);
  background-color: #ddd;
  padding: 7rem;
}

#testimonials h2{
  font-size: 36px;
}

.border{
  height: 3px;
  width: 220px;
  margin-bottom: 20px;
  padding-right: 320px;
  /* background:linear-gradient(90deg,red,#1256EA, #F84D07); */
}

#testimonials .row {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#testimonials .row .col {
  background-color: #fff;
  margin: 20px 1rem;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


#testimonials .row .col .imgs{
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

#testimonials .row .col h3 {
  font-size: 20px;

}

#testimonials .row .col .stars {
  margin: 15px 0;
  color:#F84D07 ;
}

#testimonials .row .col p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

/* Tablet */

@media (max-width:900px) {
  .row{
    flex-direction: column;
  }

  #testimonials .row .col {
    margin: 1rem 0 ;
  }
}

/* Mobile */

@media (max-width:600px) {
 #testimonials{
  padding: 3rem;  
  }
}
/* Testimonial Section END */

/* SEC2 Start */

.sec2{
  /* padding-bottom: 100px; */
  /* margin: 20px 0; */
  border-top: 1px solid #a9c0f4;
  background: url(testimonial_bg.png);
  background-color: #ddd;
}
.sec2 .funfact{
  padding-left: 600px;
}
.sec2 .fun{
  /* padding-top: 100px; */
  color: #f7ae7e;
  font-weight: 500;
  margin-left: 150px;
  /* margin-top: 100px; */
  margin-bottom: 20px;
}

.sec2  h2{
  color: #1f1f1f;
  font-size: 38px;
  font-weight: bolder;
}
/* SEC2 START  */

 /* Contact Us Start  */

 .conco{
  margin-top: 30px;
  background: url(testimonial_bg.png);
  background-color: #ddd;

 }
#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  padding: 7rem;
}

#contact h2{
  font-size: 36px;
}

#contact .us{
  background-color: #9fb9f2;
  border-radius: 10px;
  padding: 10px 20px;
}

.contact{
  border-radius: 20px;
  margin-bottom: 200px;
  margin-top: -80px;
  padding:30px;
}
.contact .content{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px){
  .contact .content{
    flex-direction: column;
  }
}

.contact .content form{
  flex-basis: 70%;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 10px;
}

.contact .content form p{
  margin-bottom: 30px;
}

.contact .content form .main-input{
  border-radius: 8px;
  padding: 10px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
  text-align: start;
  font-size: 14px;
}
.contact .content form .main-input:focus{
  outline: none;
}

.contact .content form .nn{
  margin: 5px;
}

.contact .content form span{
  color: red;
}


.contact .content form .submit {
  width: 100px;
  background-color:#1256EA ;
  color: #fff;
  padding: 5px 25px;
  border: none;
  display: flex;
  margin-left: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 16px;
}

.contact .content form .submit:hover{
  background: #F84D07;
  transition: all 0.5s ease;
}

.contact .content .info {
  margin-left: 30px;
  margin-right: 20px;
  flex-basis: 25%;
  border:1px solid #ccc ;
  border-radius: 70px 0 0 0;
}
.contact .content .info .imge{
  width: 350px;
  margin: 8px;
  margin-bottom: 60px;
  border-radius: 70px 0 0 0;
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}

.contact .content .info .phone{
  display: block;
  color: #1f1f1f;
  margin: 0 10px 20px 10px;
}


 /* Contact Us END  */

 /* Footer Start */

 .footer .container{
	max-width: 1170px;
	margin:auto;
}
.footer .container .row{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.footer .container .row .footer-col ul{
	list-style: none;
}
.footer{
	background-color: #ECECEC;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #1f1f1f;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 700;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	/* background-color: #e91e63; */
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #1f1f1f;
	text-decoration: none;
	font-weight: 400;
	color: #1f1f1f;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #1256EA;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #1f1f1f;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #1256EA;
	background-color: #ffffff;
}

.end-footer{
	padding-top: 20px;
	border-top: 1px solid #bbbbbb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 150px;
}

.end-footer .footer-col .be {
	font-size: 16px;
  font-weight: 500;
	text-transform: capitalize;
	/* color: #1f1f1f; */
	text-decoration: none;
	color: #1f1f1f;
	display: block;
	transition: all 0.3s ease;
}

.end-footer .footer-col .be:hover{
	color: #1256EA;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
} 
}


 /* Footer END */
